* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.nav-list {
  display: flex;
  gap: 20px;
}
.nav-list li a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.nav-item2 {
  display: flex;
  width: 30%;
  gap: 10%;
  align-items: center;
}
.appointment {
  padding: 20px;
  border: 2px solid rgb(187, 46, 46);
  color: red;
}
.number {
  border-bottom: 1px dotted red;
  padding-bottom: 10px;
}
.main {
  width: 100%;
  height: 100vh;
  background-image: url(https://preview.colorlib.com/theme/lawyerlegal/assets/img/hero/h1_hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
